<!-- Page Header Start here -->
<section class="page-header section-notch">
   <div class="overlay">
      <div class="container">
         <h3>Our Blog</h3>
         <ul>
            <li><a href="index.php">Home</a></li>
            <li>-</li>
            <li>Blog</li>
         </ul>
      </div>
      <!-- container -->
   </div>
   <!-- overlay -->
</section>
<!-- page header -->
<!-- Page Header End here --><br><br>
<!-- Blog Post Start here -->
<section class="blog-post padding-110">
   <div class="container">
      <div class="row">
         <div class="col-md-4">
            <div class="post-items">
               <div class="post-item">
                  <div class="post-image">
                     <img src="<?php echo base_url();?>assets/images/blog/post_01.jpg" alt="post image" class="img-responsive" style="height: 250px;">
                  </div>
                  <div class="post-content">
                     <center>
                        <h4 style="color: #ed257c;">Asertivelly recaptiualize</h4>
                     </center>
                     <br>          
                     <p>Asertively recaptiualize business benefits rofesionally timely data with and premium timely with premium products sertively recaptiualize business benefits rofesionally timely data an with and premium timely awesome premium products.</p>
                  </div>
               </div>
               <!-- post item -->
            </div>
            <!-- post items -->
         </div>
         <div class="col-md-4">
            <div class="post-items">
               <div class="post-item">
                  <div class="post-image">
                     <img src="<?php echo base_url();?>assets/images/blog/blog_03.jpg" alt="post image" class="img-responsive" style="height: 250px;">
                  </div>
                  <div class="post-content">
                     <center>
                        <h4 style="color: #08509a;">Asertivelly recaptiualize</h4>
                     </center>
                     <br>          
                     <p>Asertively recaptiualize business benefits rofesionally timely data with and premium timely with premium products sertively recaptiualize business benefits rofesionally timely data an with and premium timely awesome premium products.</p>
                  </div>
               </div>
               <!-- post item -->
            </div>
         </div>
         <div class="col-md-4">
            <div class="post-items">
               <div class="post-item">
                  <div class="post-image">
                     <img src="<?php echo base_url();?>assets/images/blog/blog_02.jpg" alt="post image" class="img-responsive" style="height: 250px;">
                  </div>
                  <div class="post-content">
                     <center>
                        <h4 style="color: #a40202;">Asertivelly recaptiualize</h4>
                     </center>
                     <br>          
                     <p>Asertively recaptiualize business benefits rofesionally timely data with and premium timely with premium products sertively recaptiualize business benefits rofesionally timely data an with and premium timely awesome premium products.</p>
                  </div>
               </div>
               <!-- post item -->
            </div>
         </div>
      </div>
      <br>
      <div class="row">
         <div class="col-md-4">
            <div class="post-items">
               <div class="post-item">
                  <div class="post-image">
                     <img src="<?php echo base_url();?>assets/images/blog/blog_02.jpg" alt="post image" class="img-responsive" style="height: 250px;">
                  </div>
                  <div class="post-content">
                     <center>
                        <h4 style="color: green;">Asertivelly recaptiualize</h4>
                     </center>
                     <br>          
                     <p>Asertively recaptiualize business benefits rofesionally timely data with and premium timely with premium products sertively recaptiualize business benefits rofesionally timely data an with and premium timely awesome premium products.</p>
                  </div>
               </div>
               <!-- post item -->
            </div>
            <!-- post items -->
         </div>
         <div class="col-md-4">
            <div class="post-items">
               <div class="post-item">
                  <div class="post-image">
                     <img src="<?php echo base_url();?>assets/images/blog/blog_01.jpg" alt="post image" class="img-responsive" style="height: 250px;">
                  </div>
                  <div class="post-content">
                     <center>
                        <h4 style="color:#92278f;">Asertivelly recaptiualize</h4>
                     </center>
                     <br>          
                     <p>Asertively recaptiualize business benefits rofesionally timely data with and premium timely with premium products sertively recaptiualize business benefits rofesionally timely data an with and premium timely awesome premium products.</p>
                  </div>
               </div>
               <!-- post item -->
            </div>
         </div>
         <div class="col-md-4">
            <div class="post-items">
               <div class="post-item">
                  <div class="post-image">
                     <img src="<?php echo base_url();?>assets/images/blog/blog_03.jpg" alt="post image" class="img-responsive" style="height: 250px;">
                  </div>
                  <div class="post-content">
                     <center>
                        <h4 style="color: #fcb614;">Asertivelly recaptiualize</h4>
                     </center>
                     <br>          
                     <p>Asertively recaptiualize business benefits rofesionally timely data with and premium timely with premium products sertively recaptiualize business benefits rofesionally timely data an with and premium timely awesome premium products.</p>
                  </div>
               </div>
               <!-- post item -->
            </div>
         </div>
      </div>
   </div>
</section>
<!-- Blog Post End here -->