<!-- Page Header Start here -->
<section class="page-header section-notch">
   <div class="overlay">
      <div class="container">
         <h3>Our News & Events</h3>
         <ul>
            <li><a href="index.php">Home</a></li>
            <li>-</li>
            <li>Mews & Events</li>
         </ul>
      </div>
      <!-- container -->
   </div>
   <!-- overlay -->
</section>
<!-- page header -->
<!-- Page Header End here -->
<!-- Event Start here -->
<section class="event event-two padding-120">
   <div class="container">
      <div class="row">
         <div class="col-md-8">
            <div class="event-items">
               <div class="row">
                  <div class="col-md-6 col-sm-12 col-xs-12">
                     <div class="event-item">
                        <div class="event-image">
                           <img src="<?php echo base_url();?>assets/images/event/event_01.jpg" alt="event image" class="img-responsive">
                           <div class="date">
                              <span>24</span>
                              <p>March</p>
                           </div>
                        </div>
                        <div class="event-content">
                           <h4>Imagination Classes</h4>
                           <ul>
                              <li><span><i class="fa fa-clock-o" aria-hidden="true"></i></span>08:00 am - 10:00 am</li>
                              <li><span><i class="fa fa-home" aria-hidden="true"></i></span>218 New Elephant Road Dhaka</li>
                           </ul>
                           <p>Dratcaly novate fuly rarched an plication awesome theme education that plication creative theme education.</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 col-sm-12 col-xs-12">
                     <div class="event-item">
                        <div class="event-image">
                           <img src="<?php echo base_url();?>assets/images/event/event_02.jpg" alt="event image" class="img-responsive">
                           <div class="date">
                              <span>24</span>
                              <p>March</p>
                           </div>
                        </div>
                        <div class="event-content">
                           <h4>Imagination Classes</h4>
                           <ul>
                              <li><span><i class="fa fa-clock-o" aria-hidden="true"></i></span>08:00 am - 10:00 am</li>
                              <li><span><i class="fa fa-home" aria-hidden="true"></i></span>218 New Elephant Road Dhaka</li>
                           </ul>
                           <p>Dratcaly novate fuly rarched an plication awesome theme education that plication creative theme education.</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 col-sm-12 col-xs-12">
                     <div class="event-item">
                        <div class="event-image">
                           <img src="<?php echo base_url();?>assets/images/event/event_03.jpg" alt="event image" class="img-responsive">
                           <div class="date">
                              <span>24</span>
                              <p>March</p>
                           </div>
                        </div>
                        <div class="event-content">
                           <h4>Imagination Classes</h4>
                           <ul>
                              <li><span><i class="fa fa-clock-o" aria-hidden="true"></i></span>08:00 am - 10:00 am</li>
                              <li><span><i class="fa fa-home" aria-hidden="true"></i></span>218 New Elephant Road Dhaka</li>
                           </ul>
                           <p>Dratcaly novate fuly rarched an plication awesome theme education that plication creative theme education.</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 col-sm-12 col-xs-12">
                     <div class="event-item">
                        <div class="event-image">
                           <img src="<?php echo base_url();?>assets/images/event/event_04.jpg" alt="event image" class="img-responsive">
                           <div class="date">
                              <span>24</span>
                              <p>March</p>
                           </div>
                        </div>
                        <div class="event-content">
                           <h4>Imagination Classes</h4>
                           <ul>
                              <li><span><i class="fa fa-clock-o" aria-hidden="true"></i></span>08:00 am - 10:00 am</li>
                              <li><span><i class="fa fa-home" aria-hidden="true"></i></span>218 New Elephant Road Dhaka</li>
                           </ul>
                           <p>Dratcaly novate fuly rarched an plication awesome theme education that plication creative theme education.</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 col-sm-12 col-xs-12">
                     <div class="event-item">
                        <div class="event-image">
                           <img src="<?php echo base_url();?>assets/images/event/event_05.jpg" alt="event image" class="img-responsive">
                           <div class="date">
                              <span>24</span>
                              <p>March</p>
                           </div>
                        </div>
                        <div class="event-content">
                           <h4>Imagination Classes</h4>
                           <ul>
                              <li><span><i class="fa fa-clock-o" aria-hidden="true"></i></span>08:00 am - 10:00 am</li>
                              <li><span><i class="fa fa-home" aria-hidden="true"></i></span>218 New Elephant Road Dhaka</li>
                           </ul>
                           <p>Dratcaly novate fuly rarched an plication awesome theme education that plication creative theme education.</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 col-sm-12 col-xs-12">
                     <div class="event-item">
                        <div class="event-image">
                           <img src="<?php echo base_url();?>assets/images/event/event_06.jpg" alt="event image" class="img-responsive">
                           <div class="date">
                              <span>24</span>
                              <p>March</p>
                           </div>
                        </div>
                        <div class="event-content">
                           <h4>Imagination Classes</h4>
                           <ul>
                              <li><span><i class="fa fa-clock-o" aria-hidden="true"></i></span>08:00 am - 10:00 am</li>
                              <li><span><i class="fa fa-home" aria-hidden="true"></i></span>218 New Elephant Road Dhaka</li>
                           </ul>
                           <p>Dratcaly novate fuly rarched an plication awesome theme education that plication creative theme education.</p>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- row -->
            </div>
            <!-- event items -->
         </div>
         <div class="col-md-4">
            <center>
               <h4 style="color: #ee257c;">Latest News</h4>
            </center>
            <br>
            <!--  -->
            <div class="row">
               <div class="col-md-3">
                  <div class="image">
                     <img src="<?php echo base_url();?>assets/images/blog/footer_post_01.jpg" alt="post image" class="img-responsive">
                  </div>
               </div>
               <div class="col-md-9">
                  <div class="content">
                     <p>Corem psum dolor the amectetuer adipiscing... <br>
                        <span style="color: #07509a;">28 January 2017</span>
                     </p>
                  </div>
               </div>
            </div>
            <!--  -->
            <!--  -->
            <div class="row">
               <div class="col-md-3">
                  <div class="image">
                     <img src="<?php echo base_url();?>assets/images/blog/footer_post_02.jpg" alt="post image" class="img-responsive">
                  </div>
               </div>
               <div class="col-md-9">
                  <div class="content">
                     <p>Corem psum dolor the amectetuer adipiscing... <br>
                        <span style="color: #07509a;">28 January 2017</span>
                     </p>
                  </div>
               </div>
            </div>
            <!--  -->
            <!--  -->
            <div class="row">
               <div class="col-md-3">
                  <div class="image">
                     <img src="<?php echo base_url();?>assets/images/blog/footer_post_03.jpg" alt="post image" class="img-responsive">
                  </div>
               </div>
               <div class="col-md-9">
                  <div class="content">
                     <p>Corem psum dolor the amectetuer adipiscing... <br>
                        <span style="color: #07509a;">28 January 2017</span>
                     </p>
                  </div>
               </div>
            </div>
            <!--  -->
            <!--  -->
            <div class="row">
               <div class="col-md-3">
                  <div class="image">
                     <img src="<?php echo base_url();?>assets/images/blog/footer_post_01.jpg" alt="post image" class="img-responsive">
                  </div>
               </div>
               <div class="col-md-9">
                  <div class="content">
                     <p>Corem psum dolor the amectetuer adipiscing... <br>
                        <span style="color: #07509a;">28 January 2017</span>
                     </p>
                  </div>
               </div>
            </div>
            <!--  -->
            <!--  -->
            <div class="row">
               <div class="col-md-3">
                  <div class="image">
                     <img src="<?php echo base_url();?>assets/images/blog/footer_post_02.jpg" alt="post image" class="img-responsive">
                  </div>
               </div>
               <div class="col-md-9">
                  <div class="content">
                     <p>Corem psum dolor the amectetuer adipiscing... <br>
                        <span style="color: #07509a;">28 January 2017</span>
                     </p>
                  </div>
               </div>
            </div>
            <!--  -->
            <!--  -->
            <div class="row">
               <div class="col-md-3">
                  <div class="image">
                     <img src="<?php echo base_url();?>assets/images/blog/footer_post_03.jpg" alt="post image" class="img-responsive">
                  </div>
               </div>
               <div class="col-md-9">
                  <div class="content">
                     <p>Corem psum dolor the amectetuer adipiscing... <br>
                        <span style="color: #07509a;">28 January 2017</span>
                     </p>
                  </div>
               </div>
            </div>
            <!--  -->
         </div>
      </div>
   </div>
   <!-- container -->
</section>
<!-- event blog -->
<!-- event End here -->